# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Chserve.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\RiderProjects\Chserve\.idea\.idea.Chserve\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
